@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="centred">
    <div id="add-admin-area">
        <label id="action" class="action">Add new admin</label>
        <form id="register-form" class="form" asp-route="AdminAdding">
            <div class="validation" asp-validation-summary="All"></div>
            <div class="form_part form_part_flex">
                <input id="name" class="input" size="10" placeholder="Name" asp-for="Register.Name">
                <input id="submit" type="submit" class="button" name="Submit" value="Submit">
            </div>
            <div class="form_part">
                <input id="password" class="input" placeholder="Password" asp-for="Register.Password">
            </div>
            <div class="form_part">
                <input id="confirm-password" class="input" placeholder="Confirm password" asp-for="Register.ConfirmPassword">
            </div>
        </form>
    </div>
</div>
