@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="centred">
    <div id="login-area">
        <label id="action" class="action">Login</label>
        <form id="login-form" class="form" asp-route="Login">
            <div class="validation" asp-validation-summary="All"></div>
            <div class="form_part form_part_flex">
                <input id="name" class="input" size="10" placeholder="Name" asp-for="Login.Name">
                <input id="submit" type="submit" class="button" name="Submit" value="Submit">
            </div>
            <div class="form_part">
                <input id="password" class="input" placeholder="Password" asp-for="Login.Password">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}