@model TreadViewModel

@{
    var oPostViewModel = Model.PostViewModels.First();
    Model.PostViewModels.RemoveAt(0);
}

<div id="tread-@Model.TreadId" class="tread">
    @await Html.PartialAsync("_Post", oPostViewModel)
    @if (Model.NumberOfOmittedPosts != 0)
    {
        <span class="omitted_posts">@($"Ommitted {@Model.NumberOfOmittedPosts} posts. To see click \"Reply\".")</span>
    }
    @foreach (var postViewModel in Model.PostViewModels) @await Html.PartialAsync("_Post", postViewModel)
</div>