@model CreatePostViewModel
@{
    ViewData["Title"] = "Board";
}

@{
    if (Model.TreadViewModels.Count > 1)
}

@await Html.PartialAsync("_ReplyForm", new ReplyFormViewModel(Model.Action, Model.TargetId, Model.Post))

<form id="del-form" class="delete_form" method="post" asp-action="Delete">
    @foreach (var treadModel in Model.TreadViewModels) @await Html.PartialAsync("_Tread", treadModel)
    @await Html.PartialAsync("_DeleteForm")
</form>