<div class="delete_form_part form_part_flex">
    <input id="password" type="password" class="input" size="20" maxlength="20" name="password" value="12345" placeholder="Password">
    <input id="submit" type="submit" class="button" name="submit" value="Delete posts">
</div>