@model ReplyFormViewModel

<div id="post-area" class="post_area">
    <form id="reply-form" class="reply_form"  enctype="multipart/form-data" asp-route="CreatePost" asp-route-boardName=@(Model.BoardName) asp-route-treadId=@(Model.TreadId)>
        <div class="validation" asp-validation-summary="All"></div>
        <div id="action" class="action">
            <label>@Model.ActionNameInView</label>
        </div>
        <div class="form_part form_part_flex">
            <input id="title" type="text" class="reply_input" size="10" name="title" placeholder="Subject">
            <input type="hidden" name="isop" value="@(Model.Action == ReplyFormAction.ReplyToTread ? "false" : "true")">
            <input id="submit" type="submit" class="reply_button" name="submit" value="Submit">
        </div>
        <div class="form_part">
            <textarea id="message" class="reply_input" name="message" rows="10" placeholder="Message" spellcheck="false"></textarea>
        </div>
        <div class="form_part">
            <input id="password" type="password" class="reply_input" name="Pass" value="12345" placeholder="Password">
        </div>
        <div class="form_part">
            <div class="reply_options">
                <label>Go to</label>
                <select name="dest" asp-items="Html.GetEnumSelectList<Destination>()"></select>
                <input type="checkbox" id="sage-check-box" name="issage" value="true">
                <label>Sage</label>
                <input id="file" class="reply_file" type="file" name="File">
            </div>
        </div>
    </form>
</div>