@model CreatePostViewModel
@{
    ViewData["Title"] = "Board";
}

@await Html.PartialAsync("_ReplyForm", new ReplyFormViewModel(Model.Action, Model.BoardName, Model.TreadId, Model.Post))

<form id="del-form" class="delete_form" asp-route="Delete" asp-route-boardName=@Model.BoardName>
    @foreach (var treadViewModel in Model.TreadViewModels) @await Html.PartialAsync("_Tread", treadViewModel)
    @await Html.PartialAsync("_DeleteForm")
</form>