<div class="delete_form_part form_part_flex">
    <input id="password" type="password" class="delete_input" size="10" name="password" placeholder="Password">
    <input id="submit" type="submit" class="reply_button" name="submit" value="Delete posts">
</div>