<table class="userdelete">
    <tbody>
        <tr>
            <td class="postblock">Удалить сообщение</td>
            <td>
                <!--<input type="hidden" name="task" value="delete">-->
                <input value="Удалить" type="submit">
            </td>
        </tr>
    </tbody>
</table>
