@model ReplyFormViewModel

<div id="post-area" class="post_area">
    <form id="reply-form" class="reply_form" method="post" enctype="multipart/form-data" asp-action="@Model.Action">
        <div id="action" class="action">
            <label>@Model.ActionNameInView</label>
        </div>
        <div class="form_part form_part_flex">
            <input id="title" type="text" class="reply_input" size="10" name="title" placeholder="Subject">
            <input type="hidden" name="@(Model.Action == ReplyFormAction.ReplyToTread ? "treadId" : "boardId")"
                   value="@Model.TargetId">
            <input id="submit" type="submit" class="reply_button" name="submit" value="Submit">
        </div>
        <div class="form_part">
            <textarea id="message" class="reply_input" name="message" rows="10" placeholder="Message" spellcheck="false"></textarea>
        </div>
        <div class="form_part">
            <div class="reply_options">
                <label>Go to</label>
                <select name="dest" asp-items="Html.GetEnumSelectList<Destination>()"></select>
                <input type="checkbox" id="sage-check-box" name="isSage" value="true">
                <label>Sage</label>
                <input id="file" class="reply_file" type="file" name="file">
            </div>
        </div>
    </form>
</div>