@model TreadViewModel

@{
    Post openingPost = Model.Tread.Posts.First();
    Model.Tread.Posts.RemoveAt(0);
}

@await Html.PartialAsync("_OpeningPost", new PostViewModel()
{
    Post = openingPost,
    IsFromShortcutTread = Model.IsShortcut
})

<span class="omittedposts">@Model.AboutOmittedPosts</span>

@foreach (var post in Model.Tread.Posts)
{
    @await Html.PartialAsync("_Post", new PostViewModel()
    {
        Post = post,
        IsFromShortcutTread = Model.IsShortcut
    })
}



