@model TreadViewModel

@{
    var openingPost = Model.Tread.Posts.First();
    Model.Tread.Posts.RemoveAt(0);
}

<div id="tread-@openingPost.Id" class="tread">
    @await Html.PartialAsync("_Post", new PostViewModel(openingPost, Model.IsShortcut, true))

    <span class="omitted_posts">@Model.AboutOmittedPosts</span>

    @foreach (var post in Model.Tread.Posts)
    {
        @await Html.PartialAsync("_Post", new PostViewModel(post, Model.IsShortcut, false))
    }
</div>



