@model TreadViewModel
@{
    ViewData["Title"] = "Tread";
}

[<a href="/Home/DisplayBoard/@Model.Tread.Board.Id">Назад</a>]

@await Html.PartialAsync("_ReplyForm", new ReplyFormViewModel(ReplyFormAction.ReplyInTread, Model.Tread))


<form id="delform" method="post" asp-action="Delete">
    @await Html.PartialAsync("_Tread", Model)
    @await Html.PartialAsync("_DeleteForm")
</form>
