@model BoardViewModel
@{
    ViewData["Title"] = "Board";
}

@await Html.PartialAsync("_ReplyForm", new ReplyFormViewModel(ReplyFormAction.CreateTread, Model.Board))

@{
    var NumberOfDisplayedPosts = 11;
}

<form id="del-post-form" method="post" asp-action="Delete">
    @foreach (var tread in Model.Board.Treads)
    {
        var NumberOfOmittedPosts = tread.Posts.Count - NumberOfDisplayedPosts;
        if (NumberOfOmittedPosts > 0) tread.Posts.RemoveRange(1, NumberOfOmittedPosts);

        @await Html.PartialAsync("_Tread", new TreadViewModel(tread, NumberOfOmittedPosts))
    }
    @await Html.PartialAsync("_DeleteForm")
</form>
