@model TreadViewModel
@{
    ViewData["Title"] = "Tread";
}

@await Html.PartialAsync("_ReplyForm", new ReplyFormViewModel(ReplyFormAction.ReplyToTread, Model.Tread.Id))

<form id="delform" method="post" asp-action="Delete">
    @await Html.PartialAsync("_Tread", Model)
    @await Html.PartialAsync("_DeleteForm")
</form>
