@model TreadViewModel
@{
    ViewData["Title"] = "Tread";
}
@await Html.PartialAsync("_ReplyForm")
<hr>
<form id="delform" method="post" asp-action="Delete">
    @await Html.PartialAsync("_Tread", Model)
    <hr>
    @await Html.PartialAsync("_DeleteForm")
</form>
