<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@ViewData["Title"] - TreadApp</title>
    <meta content="text/html;charset=utf-8">
    <link rel="shortcut icon" href="/iichan_b.ico">
    <link rel="stylesheet" type="text/css" href="~/css/stylesheet.css">
</head>

<body>
    <header></header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>
